* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121215;
}

.title {
  color: #efeff1;
  margin-top: 2rem;
  margin-bottom: 0rem;
  margin-left: 4rem;
}

.messages-list {
  list-style: none;
  margin: 0rem;
  padding-top: 2rem;
  padding-left: 4rem;
}

.time {
  color: darkgrey;
  font-size: small;
  position: relative;
  top: 0.2rem;
}

.message {
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: #efeff1;
}

.li:last-child {
  margin-bottom: 0rem;
}

.username {
  margin-right: 0.25rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
}
